.reportName {
  max-height: 2.5rem;
  overflow: auto;
}

.button {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  color: var(--white);
  background-color: var(--primary-color);
}

.button:hover {
  cursor: pointer;
}

.reportCard {
  position: relative;
}

.menuTrigger {
  position: absolute;
  top: 0.35rem;
  right: 0.55rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 0.9;
  cursor: pointer;
  user-select: none;
  z-index: 2;
  display: none;
}

.reportCard:hover > .menuTrigger {
  display: block;
}

.home {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.home:hover {
  cursor: pointer;
}

.importButton {
  margin: 0px !important;
  background-color: var(--secondary-color) !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.createButton {
  margin: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
