.container {
  width: 100%;
  display: grid;
  grid-template-rows: 100%, 100%;
  margin-bottom: 2rem;
}

.label {
  text-align: left;
  margin-bottom: 0.5rem;
}

.select {
  width: 100%;
  height: 2rem;
  border-radius: 0.25rem;
  padding: 0.25rem;
  background-color: #fff;
  border: 1px var(--gray) solid;
}

.select:focus {
  outline: none;
}

.select:disabled {
  background-color: #fff;
}
