.container {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  margin-bottom: 2rem;
}

.label {
  text-align: left;
  margin-bottom: 0.5rem;
}

/* Autocomplete container */
.autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Style the input field */
.searchInput {
  width: 100%;
  height: 2rem;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  background-color: #fff;
  border: 1px var(--gray) solid;
}

.searchInput:focus {
  outline: none;
}

/* Container for suggestions */
.suggestionsBox {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  max-height: 200px;
  overflow-y: auto;
  width: calc(100% - 2px);
}

/* Style for the suggestion buttons */
.suggestionBtn {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #d4d4d4;
  width: 100%;
  text-align: left;
}

.suggestionBtn:hover {
  background-color: DodgerBlue;
  color: white;
}

.autocompleteActive {
  background-color: DodgerBlue;
  color: white;
}

/* Selected items container */
.selectedItemsContainer {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #d4d4d4;
  background-color: #f9f9f9;
  list-style: none;
}

.selectedItemsContainer:empty {
  display: none;
}

/* Style for selected items */
.selectedItemsContainer li {
  margin-right: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: var(--primary-color);
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 90%;
}

.selectedText {
  display: inline-block;
  color: var(--white);
}

/* Remove button for selected items */
.selectedItemsContainer button {
  margin-left: 5px;
  border: none;
  background-color: transparent;
  color: var(--white);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  width: 16px;
  height: 16px;
  position: relative;
}

.selectedItemsContainer button:hover {
  background-color: var(--red);
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
}

.deleteIcon {
  background: transparent;
}
