html,
body {
  background-color: var(--primary-color);
}

.loginContainer {
  width: 100%;
  height: 100%;
  display: grid;
}

.loginInputsContainer {
  height: max-content;
  width: 50vh;
  background-color: var(--white);
  place-self: center;
  text-align: center;
  padding: 3rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  color: var(--text-color);
}

.loginInputsContainer > div > label {
  color: var(--black) !important;
}

.inputsContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 0px;
  margin: 2rem 0 2rem 0;
}

.tokenInput {
  border-radius: 0.2rem;
  border: 1px solid var(--gray);
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  text-align: center;
  font-size: 2rem;
}

.tokenInput:focus {
  outline: none;
}
