html,
body {
  background-color: var(--primary-color);
}

.loginContainer {
  width: 100%;
  height: 100%;
  display: grid;
}

.loginInputsContainer {
  height: max-content;
  width: 50vh;
  background-color: var(--white);
  place-self: center;
  text-align: center;
  padding: 3rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  color: var(--text-color);
}

.loginInputsContainer > div > label {
  color: var(--black) !important;
}

.inputsContainer {
  display: inline-flex;
  margin: 2rem 0 2rem 0;
}

.tokenInput {
  border-radius: 0.2rem;
  border: 1px solid var(--gray);
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  text-align: center;
  font-size: 1rem;
}

.tokenInput:focus {
  outline: none;
}

.sendAgainContainer {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.waitToSend {
  color: var(--gray);
}

.sendAgain {
  text-decoration: underline;
  cursor: pointer;
  color: var(--black);
}
