html,
body {
  background-color: var(--primary-color);
}

.loginContainer {
  width: 100%;
  height: 100%;
  display: grid;
}

.loginInputsContainer {
  height: max-content;
  width: 30%;
  background-color: var(--white);
  place-self: center;
  text-align: center;
  padding: 3rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  color: var(--text-color);
}

.loginInputsContainer > div > label {
  color: var(--black) !important;
}

@media (max-width: 1024px) {
  .loginInputsContainer{
    width: 90%;
  }
}
