.button{
    padding: 0.5rem;
    border-radius: .25rem;
    width: 10rem;
    height: 2rem;
    border: none;
    color: var(--white);
    background-color: var(--primary-color);
    margin: 1rem;
}

.button:hover{
    cursor: pointer;
}

.buttonSecondary{
    color: var(--button-text-color) !important;
    background-color: var(--white) !important;
}

.buttonSecondary:hover{
    color:  var(--button-hover-color);
    cursor: pointer;
}
